body {
    background-color: rgb(207, 200, 184);
    background-image: url("fall_leaves.jpg");
    /* background-size: contain; tiles */
    background-size: cover;
    background-position: center center;
    min-height: 1000px;
}
h1 {
    margin: 0;
}
/* NESTED SELECTOR */
/* WIDTH / HEIGHT */
h1 span {color:rgb(230, 179, 58)}
h1 span span {color:rgb(174, 189, 66)}
span.RedBorder {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 20%);
    border-radius: 7px;
    padding: 5px;
}
/* DISPLAY TYPE */
div.Inline {
    display: inline;
    border: 1px solid red;
    height: 100px;
}
div.BlockInline {
    display: inline-block;
    border: 1px solid red;
    height: 100px;
}
div.Width {
    width: 30%;
    height: 80px;
    border: 1px solid red;
    display: inline-block;
}
div.online-font {
    font-family: 'Zen Loop', cursive;
    font-style: italic;
}
.box-model {
    font-size: 10px;
    text-shadow: 2px 2px 0 red; /* xOffset yOffset blur color */
    border: 2px solid red;
    width: 200px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    outline: 2px dashed blue;
    outline-offset: 2px;
    overflow: auto;
    display: inline-block;
}
.box-model::before {
    content: ' ';
    display: block;
    border: 10px solid red;
}
#box {
    width: 200px;
    height: 200px;
    margin: 15px;
    border: 2px solid black;
    background-image: url("communityIcon_plpfcc116az31.png");
    background-position: center center;
    background-size: cover;
    border-radius: 0 50% 0 50%; /* top left, top right, bottom right, bottom left*/
    /* box-shadow: 2px 2px 10px yellow; */
    box-shadow: 10px 10px 10px inset black; /* x y blur inset color */
}
#box2 {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    border: 2px dashed blue;
    padding: 10px 15px 20px 25px;
    margin: 30px auto;
    opacity: 0.5; /* will change entire element. could also set in text, backgound, etc.) */
}
.Float {
    margin-right: 10px;
    border: 1px solid black;
    float: left;
}
div.Circle {
    border: 5px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
a.button {
    background-color:tomato;
    display:inline-block;
    padding:5px 15px;
    margin: 10px;
    color:teal;
    text-decoration: none;
    border: 1px solid wheat;
    transition: background-color 0.2s,
                color 0.5s,
                padding 1.0s;
}

a.button:hover {
    background-color: teal;
    color:tomato;
    padding: 10px 30px;
}
/* first line and letter */
div.fletter::first-letter {
    font-size: 50px;
    float: left;
}
div.fletter::first-line {
    color:blueviolet;
}
::selection {
    background-color: cadetblue;
    color: wheat;
}
a {color: black}
a:hover {color:rgb(134, 147, 66)}
a:active {color:cadetblue}
a:visited {color:maroon}
h1.Title {
    font-size: 80px;
    color: rgba(200, 50, 70, 80);
}
div.Title {
    color: rgba(0, 0, 0, 70%);
}
.Title {
    text-align: center;
}
.bottom {
    min-height: 2000px;
    position: relative;
}
@keyframes myAnimation {
    0% {
        top: 5%;
        left: 5%;
    }
    25% {
        top: 5%;
        left: 95%;
    }
    50% {
        top: 95%;
        left: 95%;
    }
    75% {
        top: 95%;
        left: 5%;
    }
    100% {
        top: 5%;
        left: 5%j;
    }
}
.shape {
    position: absolute;
    border: 5px solid blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation-name: myAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.footer {
    position: sticky;
    top: 0;
}